/* CSS - Main Style Document */

/* adds padding to the top of the body element to ensure the content is not 
hidden behind the navbar */
body {
  padding-top: 90px; 
}

main {
    /* width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* display: flex; */
    justify-content: center;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

nav {
  /* background-color: rgb(14, 193, 213); */
  position: sticky;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 1px;
  height: 60px;
}

.nav-item {
  display: flex;
  align-items: right;
  justify-content: right;
  padding: 10px;
}

nav ul {
  display: flex;
  align-items: right;
}

nav li {
  list-style-type: none;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 5px;
}

nav li a:hover {
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(37, 154, 163, 0.1);

  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

nav li .active {
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(37, 154, 163, 0.1);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 100px;
  bottom: 0;
  left: 0;
}

/* .footer-text {
  position: sticky;
  font-size: 12px;
  text-align: left;
  left: 10px;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 90%;
} */
