/* CSS - Training Resources page Style Document */

h2 button {
  font-size: 18px;
  margin-left: 5px;
  font-weight: 500;
	text-decoration: none;
  color: #0e428b;
  text-shadow: 2px 2px 2px rgba(130, 130, 130, 0.5);
}

.accordion-body {
	padding: none;
	font-size: 16px;
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
}